<h1>Activities</h1>
<div ng-if="error" class="alert alert-danger" role="alert">
  {{error}}
</div>
<div class="row">
  <div class="col-sm-3">
    <div class="btn-group">
      <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Add Activity <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a ui-sref="person.activity({ activityId: 'new', type: 'Visit' })">Child Visit</a></li>
        <li><a ui-sref="person.activity({ activityId: 'new', type: 'Meeting' })">Meeting</a></li>
      </ul>
    </div>
  </div>
  <div class="col-sm-9">
    <table class="table">
      <tr><th>Date</th><th>Description</th><th>Duration</th></tr>
      <tr ng-repeat="activity in activities">
        <td>{{activity.date}}</td>
        <td><a ui-sref="person.activity({activityId: activity.id, type: activity.type})">{{activity.description}}</a></td>
        <td>{{activity.formattedDuration.hours}}h {{activity.formattedDuration.minutes}}m</td>
      </tr>
    </table>
  </div>
</div>